<app-nav></app-nav>
<div class="wrapper">
      <div class="main mt-4">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                      <div id="accordion" role="tablist" aria-multiselectable="false" class="card-collapse">
                        <div class="card card-plain">
                          <div class="card-header text-uppercase text-dark" role="tab" id="headingOne">
                              <a  class="text-dark h4" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
                                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                              </a>
                          </div>
      
                          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body">
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Femmes (12)
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Hommes(22)
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Accessoires(5)
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Sacs(25)
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Montres(36)
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Chaussues (7)
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div id="accordion" role="tablist" aria-multiselectable="false" class="card-collapse">
                        <div class="card card-plain">
                          <div class="card-header text-uppercase text-dark" role="tab" id="headingprix">
                              <a class="text-dark h4" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Prix de vente
                                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                              </a>
                          </div>
      
                          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingprix">
                            <div class="card-body">
                              <span id="price-left" class="price-left pull-left" data-currency="F CFA">100</span>
                              <span id="price-right" class="price-right pull-right" data-currency="F CFA">850</span>
                              <div class="clearfix"></div>
                              <div id="sliderRefine" class="slider slider-refine"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="accordion" role="tablist" aria-multiselectable="false" class="card-collapse">
                        <div class="card card-plain">
                          <div class="card-header text-uppercase text-dark" role="tab" id="headingcolor">
                              <a class="text-dark h4" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Couleur
                                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                              </a>
                          </div>
      
                          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingcolor">
                            <div class="card-body">
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Blanc
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Noir
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Vert
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Rouge
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Jaune
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Orange
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Violet
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> Rose
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                      <div id="accordion" role="tablist" aria-multiselectable="false" class="card-collapse">
                        <div class="card card-plain">
                          <div class="card-header text-uppercase text-dark" role="tab" id="headingtailles">
                              <a  class="text-dark h4" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Tailles
                                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                              </a>
                          </div>
      
                          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingtailles">
                            <div class="card-body">
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> S
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> M
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> L
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> XL
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check col-12 form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="Taille" id="taillePr1" value="option1"> XXL
                                  <span class="form-check-sign">
                                      <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss020.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss021.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss022.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss028.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss030.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss031.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss032.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                          <div class="col-md-3 col-lg-4 col-md-6">
                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <a href="products">
                                        <img src="assets/images/shopss037.jpg" class="improduit" alt="..."/>
                                    </a>
                                </div>
                                <div class="card-body">
                                                <a href="products">
                                                  <h4 class="card-title text-center text-uppercase">
                                                      <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                                          <i class="fa fa-heart"></i>
                                                      </button>
                                                  </h4>
                                                </a>
                                                <div class="card-title col-12 small text-muted text-uppercase text-center">
                                                  <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                                                  <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                                                </div>
                                    <div class="card-footer">
                                        <div class="price-container pull-left col-md-7">
                                          <span class="price price-old"> 000 000 F CFA</span> <br>
                                          <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="pull-right col-md-5">
                                          <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end card -->
                          </div>
                              <div class="col-md-12 ml-auto mr-auto justify-content-center">
                                   <button rel="tooltip" class="btn btn-neutral btn-sm btn-hover-success btn-round">suivants...</button>
                              </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    <app-footer></app-footer>
</div>