<app-nav></app-nav>
<div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image:url('assets/images/32784.jpg');">
        </div>
        <div class="container">
            <div class="photo-container">
                <h3 class="title"><i class="now-ui-icons shopping_tag-content"></i>&nbsp;Nom_Catégories</h3>
            </div>
      </div>
    </div>
    <div class="main mt-4">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-4 col-md-6">

                      <div class="card card-product card-plain">
                          <a href="products" class="card-image">
                              <img class="img rounded" src="assets/images/shop8.png"/>
                          </a>

                          <div class="card-body">
                            <h4 class="card-title text-center text-uppercase">
                                <a href="products" class="card-title text-dark">Nom_Produit</a> &nbsp;
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </h4>
                              <h6 class="card-title text-center text-uppercase">
                                <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                              </h6>
                              <p class="card-description"></p>
                              <div class="card-footer row">
                                  <div class="price-container col-md-6">
                                      <span class="price price-old"> 000 000 F CFA</span> <br>
                                      <span class="price price-new"> 000 000 F CFA </span>
                                  </div>
                                  <div class="stats stats-right col-md-6">
                                    <button class="btn btn-success btn-sm btn-round" type="button">
                                      <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-4 col-md-6">

                      <div class="card card-product card-plain">
                          <a href="products" class="card-image">
                              <img class="img rounded" src="assets/images/shop9.png"/>
                          </a>

                          <div class="card-body">
                            <h4 class="card-title text-center text-uppercase">
                                <a href="products" class="card-title text-dark">Nom_Produit</a> &nbsp;
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </h4>
                              <h6 class="card-title text-center text-uppercase">
                                <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                              </h6>
                              <p class="card-description"></p>
                              <div class="card-footer row">
                                  <div class="price-container col-md-6">
                                      <span class="price price-old"> 000 000 F CFA</span> <br>
                                      <span class="price price-new"> 000 000 F CFA </span>
                                  </div>
                                  <div class="stats stats-right col-md-6">
                                    <button class="btn btn-success btn-sm btn-round" type="button">
                                      <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-4 col-md-6">

                      <div class="card card-product card-plain">
                          <a href="products" class="card-image">
                              <img class="img rounded" src="assets/images/shop10.png"/>
                          </a>

                          <div class="card-body">
                            <h4 class="card-title text-center text-uppercase">
                                <a href="products" class="card-title text-dark">Nom_Produit</a> &nbsp;
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </h4>
                              <h6 class="card-title text-center text-uppercase">
                                <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                              </h6>
                              <p class="card-description"></p>
                              <div class="card-footer row">
                                  <div class="price-container col-md-6">
                                      <span class="price price-old"> 000 000 F CFA</span> <br>
                                      <span class="price price-new"> 000 000 F CFA </span>
                                  </div>
                                  <div class="stats stats-right col-md-6">
                                    <button class="btn btn-success btn-sm btn-round" type="button">
                                      <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-4 col-md-6">

                      <div class="card card-product card-plain">
                          <a href="products" class="card-image">
                              <img class="img rounded" src="assets/images/shop11.png"/>
                          </a>

                          <div class="card-body">
                            <h4 class="card-title text-center text-uppercase">
                                <a href="products" class="card-title text-dark">Nom_Produit</a> &nbsp;
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </h4>
                              <h6 class="card-title text-center text-uppercase">
                                <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                              </h6>
                              <p class="card-description"></p>
                              <div class="card-footer row">
                                  <div class="price-container col-md-6">
                                      <span class="price price-old"> 000 000 F CFA</span> <br>
                                      <span class="price price-new"> 000 000 F CFA </span>
                                  </div>
                                  <div class="stats stats-right col-md-6">
                                    <button class="btn btn-success btn-sm btn-round" type="button">
                                      <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-4 col-md-6">

                      <div class="card card-product card-plain">
                          <a href="products" class="card-image">
                              <img class="img rounded" src="assets/images/shop14.png"/>
                          </a>

                          <div class="card-body">
                            <h4 class="card-title text-center text-uppercase">
                                <a href="products" class="card-title text-dark">Nom_Produit</a> &nbsp;
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </h4>
                              <h6 class="card-title text-center text-uppercase">
                                <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                              </h6>
                              <p class="card-description"></p>
                              <div class="card-footer row">
                                  <div class="price-container col-md-6">
                                      <span class="price price-old"> 000 000 F CFA</span> <br>
                                      <span class="price price-new"> 000 000 F CFA </span>
                                  </div>
                                  <div class="stats stats-right col-md-6">
                                    <button class="btn btn-success btn-sm btn-round" type="button">
                                      <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-4 col-md-6">

                      <div class="card card-product card-plain">
                          <a href="products" class="card-image">
                              <img class="img rounded" src="assets/images/shop23.png"/>
                          </a>

                          <div class="card-body">
                            <h4 class="card-title text-center text-uppercase">
                                <a href="products" class="card-title text-dark">Nom_Produit</a> &nbsp;
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </h4>
                              <h6 class="card-title text-center text-uppercase">
                                <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                              </h6>
                              <p class="card-description"></p>
                              <div class="card-footer row">
                                  <div class="price-container col-md-6">
                                      <span class="price price-old"> 000 000 F CFA</span> <br>
                                      <span class="price price-new"> 000 000 F CFA </span>
                                  </div>
                                  <div class="stats stats-right col-md-6">
                                    <button class="btn btn-success btn-sm btn-round" type="button">
                                      <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-lg-4 col-md-6">

                      <div class="card card-product card-plain">
                          <a href="products" class="card-image">
                              <img class="img rounded" src="assets/images/shop25.png"/>
                          </a>

                          <div class="card-body">
                            <h4 class="card-title text-center text-uppercase">
                                <a href="products" class="card-title text-dark">Nom_Produit</a> &nbsp;
                                <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </h4>
                              <h6 class="card-title text-center text-uppercase">
                                <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                              </h6>
                              <p class="card-description"></p>
                              <div class="card-footer row">
                                  <div class="price-container col-md-6">
                                      <span class="price price-old"> 000 000 F CFA</span> <br>
                                      <span class="price price-new"> 000 000 F CFA </span>
                                  </div>
                                  <div class="stats stats-right col-md-6">
                                    <button class="btn btn-success btn-sm btn-round" type="button">
                                      <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                    </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    <app-footer></app-footer>
</div>