<app-nav></app-nav>
<div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image:url('assets/images/32784.jpg');">
        </div>
        <div class="container">
            <div class="photo-container">
                <h3 class="title"><i class="now-ui-icons shopping_tag-content"></i>&nbsp;Nom_Catégories</h3>
            </div>
      </div>
    </div>
    <div class="main mt-4">
        <div class="section">
            <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss020.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss021.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            <div class="card-title col-12">
                          
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss022.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss028.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss030.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss031.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss032.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="products">
                                <img src="assets/images/shopss037.jpg" class="improduit" alt="..."/>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="products">
                              <h4 class="card-title text-center text-uppercase">
                                  <span class="card-title text-dark">Nom_Produit</span> &nbsp;
                                  <button type="button" rel="tooltip" title="" class="btn btn-icon btn-primary btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                      <i class="fa fa-heart"></i>
                                  </button>
                              </h4>
                            </a>
                            
                            <div class="card-title col-12 small text-muted text-uppercase text-center">
                              <a href="marques-listes" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marques </a> | 
                              <a href="categories-listes" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégories </a>
                            </div>
                            <div class="card-footer">
                                <div class="price-container pull-left col-md-7">
                                  <span class="price price-old"> 000 000 F CFA</span> <br>
                                  <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="pull-right col-md-5">
                                  <button class="badge badge-default" data-original-title="Ajouter dans le pannier" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
    <app-footer></app-footer>
</div>