<app-nav></app-nav>
<div class="wrapper">
  <div id="carouselExampleIndicators" class="carousel slide mb-4">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('assets/images/32755.jpg');"></div>
                <div class="content-center text-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h1 class="title">Fashion 2025</h1>
                            <h4 class="description text-white">
                              MB METANOVA | Nouvelle Collection
                            </h4>
                            <div class="buttons-holder">
                              <a href="#" class="btn btn-lg btn-success">
                                <span><i class="now-ui-icons shopping_box"></i> &nbsp; Voir collection</span>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('assets/images/32784.jpg');"></div>
                <div class="content-center">
                  <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Fashion Femme</h1>
                        <h4 class="description text-white">
                          MB METANOVA | Top Collection
                        </h4>
                        <div class="buttons-holder">
                          <a href="#" class="btn btn-lg btn-success"><span><i class="now-ui-icons shopping_box"></i> &nbsp;Voir collection</span></a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('assets/images/32784.jpg');"></div>
                <div class="content-center text-center">
                  <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Fête de Saint Valentin </h1>
                        <h4 class="description text-white">
                          MB METANOVA | récent collection
                        </h4>
                        <div class="buttons-holder">
                          <a href="#" class="btn btn-lg btn-success"><span><i class="now-ui-icons shopping_box"></i> &nbsp; Voir collection</span></a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="now-ui-icons arrows-1_minimal-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="now-ui-icons arrows-1_minimal-right"></i>
    </a>
  </div>
    <div class="main mt-4">
        <div class="content">
          <ul class="nav nav-pills nav-pills-success nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-uppercase active" da ta-toggle="tab" href="#link7" role="tablist">
                <i class="now-ui-icons gestures_tap-01"></i>
                Pour vous
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" data-toggle="tab" href="#link8" role="tablist">
                <i class="now-ui-icons shopping_tag-content"></i>
                Nouveaux
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" data-toggle="tab" href="#link9" role="tablist">
                <i class="now-ui-icons location_bookmark"></i>
                Tops
              </a>
            </li>
          </ul>
          <div class="tab-content tab-space">
            <div class="tab-pane active" id="link7">
              <div class="section">
                <div class="container">
                    <h2 class="section-title text-uppercase ">
                      <i class="now-ui-icons gestures_tap-01"></i>
                      Pour vous
                    </h2>
                    <div class="row">
                      <div id="owl-shop-items-slider-1" class="owl-carousel owl-theme row">
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop6.png"/>
                                </div>

                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span> &nbsp;
                                      <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                          <i class="fa fa-heart"></i>
                                      </button>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop5.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop20.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop10.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop10.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="link8">
              <div class="section">
                <div class="container">
                    <h2 class="section-title text-uppercase">
                      <i class="now-ui-icons shopping_tag-content"></i> Nouveaux 
                    </h2>
                    <div class="row">
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop1.png"/>
                                </div>

                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop3.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop7.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop13.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="link9">
              <div class="section">
                <div class="container">
                    <h2 class="section-title text-uppercase">
                      <i class="now-ui-icons location_bookmark"></i> Top
                    </h2>
                    <div class="row">
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop27.png"/>
                                </div>

                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop25.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop28.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="card card-product card-plain">
                                <div class="card-image">
                                    <img class="img rounded" src="assets/images/shop8.png"/>
                                </div>
                                
                                <div class="card-body">
                                  <h4 class="card-title text-center text-uppercase">
                                      <span class="card-title">Nom_Produit</span>
                                  </h4>
                                    <h6 class="card-title text-center text-uppercase">
                                      <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                                      <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                                    </h6>
                                    <p class="card-description"></p>
                                    <div class="card-footer row">
                                        <div class="price-container col-md-6">
                                            <span class="price price-old"> 000 000 F CFA</span> <br>
                                            <span class="price price-new"> 000 000 F CFA </span>
                                        </div>
                                        <div class="stats stats-right col-md-6">
                                          <button class="btn btn-success btn-sm btn-round" type="button">
                                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                          </button>
                                            <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <div class="projects-4" >
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-6 px-0">
                  <div class="card card-fashion card-background" 
                  style="background-image: url('assets/images/32784.jpg');
                  background-size: 100% 100%;">
                      <div class="card-body">
                          <div class="card-title text-left">
                            <div class="content-center text-center">
                              <div class="row">
                                  <div class="col-md-8 ml-auto mr-auto">
                                      <h1 class="title">Fashion 2025</h1>
                                      <h4 class="description text-white">
                                        MB METANOVA | Nouvelle Collection
                                      </h4>
                                      <div class="buttons-holder">
                                        <a href="#" class="btn btn-sm btn-success"><span> <i class="fa fa-folder"></i>&nbsp;Voir la Collection</span></a>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="card-footer text-left">
              <div class="stats">
                <span class="badge badge-success m-1">
                  <i class="now-ui-icons users_circle-08"></i> Bintou DIONE
                </span>

                <span class="badge badge-default m-1">
                  <i class="now-ui-icons tech_watch-time"></i> 14 Février 2025
                </span>
              </div>

              <div class="stats-link pull-right">
                <a href="#pablo" class="footer-link badge badge-success m-1">Fashion 2025</a>
              </div>
            </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6 px-0">
                  <div class="card-container">
                      <div class="card card-fashion">
                          <div class="card-title">
                              <a href="#pablo">
                                  </a>
                                  <h4>
                                    <a href="#pablo">
                                      </a>
                                      <a href="#pablo" class="text-dark">
                                          Valentina Garavani Holds a Summer Lunch in Honor of Sofia Coppola...
                                      </a>
                                  </h4>

                          </div>
                          <div class="card-body">
                              <div class="card-footer text-left">
                  <div class="stats">
                    <span class="badge badge-success m-1">
                      <i class="now-ui-icons users_circle-08"></i> Bintou DIONE
                    </span>
                    <span class="badge badge-default m-1">
                      <i class="now-ui-icons tech_watch-time"></i> 14 Février 2025
                    </span>
                  </div>


                </div>
                          </div>
                      </div>
                      <div class="card card-fashion card-background" 
                      style="background-image: url('assets/images/2147695954.jpg');background-size: 100% 100%;">

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="main mt-4">
    <div class="content">
      <div class="section">
        <div class="container">
            <h2 class="section-title text-uppercase text-center">
              <i class="now-ui-icons shopping_delivery-fast"></i>
              recommandez
            </h2>
            <div class="row">
              <div id="owl-shop-items-slider-1" class="owl-carousel owl-theme row">
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop29.png"/>
                        </div>

                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span> &nbsp;
                              <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                  <i class="fa fa-heart"></i>
                              </button>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop28.png"/>
                        </div>
                        
                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop27.png"/>
                        </div>
                        
                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop23.png"/>
                        </div>
                        
                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="subscribe-line subscribe-line-image testimonials bg-parallax overlay" 
  style="background-image:url(assets/images/32755.jpg); background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="row h4 text-uppercase mb-4 text-center">
              <h2 class="text-white bottom-line">Bonjour CLIENT</h2>
          </div>
          <div id="carouselExampleIndicators" class="carousel slide mt-4 mb-4" data-ride="carousel">
            
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item text-white text-center">
                
                <p class="h6 text-white text-center">
                  Les livraisons sont gratuits partout de Dakar
                </p>
                <span class="text-white text-center">Adresse de Dakar et environ </span>
              </div>
              <div class="carousel-item active text-white text-center">
                
                <p class="h6 text-white text-center">
                  Les livraisons sont 2000 f cfa partout de Senegal
                </p>
                <span class="text-white text-center">Adresse de Seneagal dans les regions </span>
              </div>
              <div class="carousel-item text-white text-center">
                
                <p class="h6 text-white text-center">
                  Reductions 20% dans la boutique
                </p>
                <span class="text-white text-center">Adresse de Dakar Mbao Grand et environ</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main mt-4">
    <div class="content">
      <div class="section">
        <div class="container">
          <p class="subheading text-uppercase text-center">pendant ce mois</p>
            <h2 class="section-title text-uppercase text-center">
              <i class="now-ui-icons objects_diamond"></i>
              Nouveaux 
            </h2>
            <div class="row">
              <div id="owl-shop-items-slider-1" class="owl-carousel owl-theme row">
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop29.png"/>
                        </div>

                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span> &nbsp;
                              <button type="button" rel="tooltip" title="" class="btn btn-icon btn-success btn-round btn-sm" data-original-title="Ajouter dans favorie">
                                  <i class="fa fa-heart"></i>
                              </button>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop28.png"/>
                        </div>
                        
                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop27.png"/>
                        </div>
                        
                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <img class="img rounded" src="assets/images/shop23.png"/>
                        </div>
                        
                        <div class="card-body">
                          <h4 class="card-title text-center text-uppercase">
                              <span class="card-title">Nom_Produit</span>
                          </h4>
                            <h6 class="card-title text-center text-uppercase">
                              <a href="categories-listes" class="text-success"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories </a> | 
                              <a href="collections-listes" class="text-success"> <i class="now-ui-icons shopping_box"></i>&nbsp;Collections </a>
                            </h6>
                            <p class="card-description"></p>
                            <div class="card-footer row">
                                <div class="price-container col-md-6">
                                    <span class="price price-old"> 000 000 F CFA</span> <br>
                                    <span class="price price-new"> 000 000 F CFA </span>
                                </div>
                                <div class="stats stats-right col-md-6">
                                  <button class="btn btn-success btn-sm btn-round" type="button">
                                    <i class="now-ui-icons shopping_cart-simple"></i> pannier
                                  </button>
                                    <button type="button" rel="tooltip" title="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                        <i class="now-ui-icons ui-2_favourite-28"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <app-footer></app-footer>
</div>