<app-nav></app-nav>
<div class="wrapper">
      <div class="main mt-4">
        <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card card-blog">
                    <a href="categories" class="card-image">
                      <img class="img rounded improduit" src="assets/images/bg-invoice-5.jpg">
                    </a>
                    <div class="card-body">
                      <a href="categories" class="small text-dark text-uppercase">
                        <i class="now-ui-icons shopping_shop"></i> &nbsp; Catégories
                      </a>
                      <h5 class="card-title h6 text-dark text-uppercase">
                        <a href="categories">Nom_Categorie</a>
                      </h5>
                      <div class="card-footer">
                        <div class="stats text-right">
                          <i class="fa fa-heart"></i> 342 ·
                          <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
    <app-footer></app-footer>
</div>