<app-nav></app-nav>
<div class="wrapper">
    <div class="page-header clear-filter page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image:url('assets/images/bg-invoice-5.jpg');">
        </div>
        <div class="container">
            <div class="photo-container">
                <h3 class="title mt-4 pt-4 text-center text-dark text-uppercase"><i class="now-ui-icons shopping_tag-content"></i>&nbsp;Nom_Marques</h3>
            </div>
      </div>
    </div>
    <div class="main mt-4">
        <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit11" aria-expanded="true" aria-controls="Produit11">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit11" role="tabpanel" aria-labelledby="Produit11">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit11" role="tabpanel" aria-labelledby="Produit11">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit11" role="tabpanel" aria-labelledby="Produit11">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit11" role="tabpanel" aria-labelledby="Produit11">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit12" aria-expanded="true" aria-controls="Produit12">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit12" role="tabpanel" aria-labelledby="Produit12">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit12" role="tabpanel" aria-labelledby="Produit12">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit12" role="tabpanel" aria-labelledby="Produit12">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit12" role="tabpanel" aria-labelledby="Produit12">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit13" aria-expanded="true" aria-controls="Produit13">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit13" role="tabpanel" aria-labelledby="Produit13">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit13" role="tabpanel" aria-labelledby="Produit13">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit13" role="tabpanel" aria-labelledby="Produit13">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit13" role="tabpanel" aria-labelledby="Produit13">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit14" aria-expanded="true" aria-controls="Produit14">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit14" role="tabpanel" aria-labelledby="Produit14">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit14" role="tabpanel" aria-labelledby="Produit14">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit14" role="tabpanel" aria-labelledby="Produit14">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit14" role="tabpanel" aria-labelledby="Produit14">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit15" aria-expanded="true" aria-controls="Produit15">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit15" role="tabpanel" aria-labelledby="Produit15">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit15" role="tabpanel" aria-labelledby="Produit15">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit15" role="tabpanel" aria-labelledby="Produit15">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit15" role="tabpanel" aria-labelledby="Produit15">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit06" aria-expanded="true" aria-controls="Produit06">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit01" aria-expanded="true" aria-controls="Produit01">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit01" role="tabpanel" aria-labelledby="Produit01">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit01" role="tabpanel" aria-labelledby="Produit01">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit01" role="tabpanel" aria-labelledby="Produit01">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit01" role="tabpanel" aria-labelledby="Produit01">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit02" aria-expanded="true" aria-controls="Produit02">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit02" role="tabpanel" aria-labelledby="Produit02">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit02" role="tabpanel" aria-labelledby="Produit02">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit02" role="tabpanel" aria-labelledby="Produit02">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit02" role="tabpanel" aria-labelledby="Produit02">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit03" aria-expanded="true" aria-controls="Produit03">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit03" role="tabpanel" aria-labelledby="Produit03">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit03" role="tabpanel" aria-labelledby="Produit03">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit03" role="tabpanel" aria-labelledby="Produit03">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit03" role="tabpanel" aria-labelledby="Produit03">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit04" aria-expanded="true" aria-controls="Produit04">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit04" role="tabpanel" aria-labelledby="Produit04">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit04" role="tabpanel" aria-labelledby="Produit04">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit04" role="tabpanel" aria-labelledby="Produit04">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit04" role="tabpanel" aria-labelledby="Produit04">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit05" aria-expanded="true" aria-controls="Produit05">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit05" role="tabpanel" aria-labelledby="Produit05">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit05" role="tabpanel" aria-labelledby="Produit05">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit05" role="tabpanel" aria-labelledby="Produit05">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit05" role="tabpanel" aria-labelledby="Produit05">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-collapse" id="accordion" role="tablist" aria-multiselectable="false">
                  <div class="card card-blog" role="tab" id="headingOne">
                    <a href="boutiques" class="card-image" data-toggle="collapse" data-parent="#accordion" href="#Produit06" aria-expanded="true" aria-controls="Produit06">
                      <img class="img rounded improduit" src="assets/images/2147949844.jpg">
                    </a>
                    <div class="col-12 small font-weight-bold text-dark text-center text-uppercase mt-2 collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      <a href="products">Nom_Produit</a>
                    </div>
                    <div class="col-12 small text-dark text-uppercase collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      <a href="marques" class="text-dark "> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                      <a href="categories" class="text-dark "> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                    </div>
                    <div class="col-12 small font-weight-bold text-center text-dark text-uppercase collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      000 000 F CFA
                    </div>
                    <div class="col-12 small text-center text-dark text-uppercase collapse" id="Produit06" role="tabpanel" aria-labelledby="Produit06">
                      <button class="btn btn-neutral btn-xs " data-original-title="Ajouter dans le pannier" type="button">
                        <i class="now-ui-icons shopping_cart-simple"></i> <span class="d-none d-sm-inline-flex text-uppercase"> &nbsp; panier</span> 
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
    <app-footer></app-footer>
</div>