<hr>
<footer class="footer footer-white footer-big col-12">
  <div class="container">

    <div class="content">
      <div class="row">

        <div class="col-md-3">
          <a href="#pablo">
            <img src="assets/images/logo_light.png" alt="" class="logo">
          </a>
          
          <p class="mt-4 text-dark text-center">
            Application de e-commerce. <br>
             (de venter et de livraison )
          </p>
          
          <ul class="social-buttons">
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-lg">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook btn-lg">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-lg">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-youtube btn-lg">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5  class="text-uppercase text-center text-dark">MB • Metanova</h5>
          <ul class="links-vertical">
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="fa fa-phone"></i> +221 000 00 00 00
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="fa fa-envelope"></i> contact@mbmeta.com
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="fa fa-map-marker"></i> Dakar, Sénégal
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                Contactez-nous
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5  class="text-uppercase text-center text-dark">
            <i class="now-ui-icons users_circle-08"></i> Profile
          </h5>
          <ul class="links-vertical">
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="now-ui-icons users_circle-08"></i> Profile modifier
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="now-ui-icons shopping_cart-simple"></i> Pannier
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="fa fa-sign-out"></i> Déconnexion
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="now-ui-icons users_circle-08"></i> S'inscrire
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="now-ui-icons users_circle-08"></i> Se connecter
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5  class="text-uppercase text-center text-dark">
            <i class="now-ui-icons design_vector"></i> Services
          </h5>
          <ul class="links-vertical">
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="now-ui-icons shopping_bag-16"></i>&nbsp;Produits
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="now-ui-icons shopping_tag-content"></i>&nbsp;Catégories
              </a>
            </li>
            <li class="col-12 mt-2">
              <a href="#pablo">
                <i class="now-ui-icons shopping_box"></i>&nbsp;Collections
              </a>
            </li>
          </ul>
          <ul class="social-buttons mt-4">
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter btn-lg">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook btn-lg">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-lg">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#pablo" class="btn btn-icon btn-neutral btn-youtube btn-lg">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer" data-background-color="black">
  <div class=" container ">
    <nav>
      <i class="fa fa-cc-paypal m-2 text-sm"></i>
      <i class="fa fa-cc-visa m-2 text-sm"></i>
      <i class="fa fa-cc-mastercard m-2 text-sm"></i>
      <i class="fa fa-cc-discover m-2 text-sm"></i>
      <i class="fa fa-cc-amex m-2 text-sm"></i>
    </nav>
    <div class="copyright" id="copyright">
      &copy; 2025 <span class="text-uppercase fw-bold text-primary">MB • Metanova </span>. Réserve tous les droits.
    </div>
  </div>
</footer>