
.color-swatches {
    margin: 40px 0;
  }
  
  .color-swatches,
  .size-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
  
  .color-swatches a,
  .size-options a {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 9px;
  }
  
.color-swatches span,
.size-options span,
.product-actions > span {
  width: 70px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  display: none;
}

.swatch-violet {
  background-color: #8da1cd;
}

.swatch-black {
  background-color: #000;
}

.swatch-cream {
  background-color: #e6e2d6;
}
.swatch-yellow {
  background-color: yellow;
}
.swatch-green {
  background-color: yellowgreen;
}
.swatch-red {
  background-color: red;
}

