<main class="main-wrapper">
  
    <app-nav></app-nav>

    <div class="content-wrapper oh mt-4 pt-4">
      <section class="section-wrap mt-4 single-product">
        <div class="container-fluid semi-fluid">
          <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
        
                        <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                            <ol class="carousel-indicators">
                                <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#productCarousel" data-slide-to="1"></li>
                                <li data-target="#productCarousel" data-slide-to="2"></li>
                                <li data-target="#productCarousel" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-raised" src="assets/images/2147949844.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised" src="assets/images/2147949844.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised" src="assets/images/2147949844.jpg" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised" src="assets/images/2147949844.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                                <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                    <i class="now-ui-icons arrows-1_minimal-left"></i>
                                </button>
                            </a>
                            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                                <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                    <i class="now-ui-icons arrows-1_minimal-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                        <h2 class="title text-uppercase "> Nom_Produit </h2>
                        <h5 class="category text-uppercase small">
                          <a href="marques" class="text-dark"> <i class="now-ui-icons location_bookmark"></i>&nbsp;marque </a> | 
                          <a href="categories" class="text-dark"> <i class="now-ui-icons shopping_tag-content"></i>&nbsp;catégorie </a>
                        </h5>
                        <h2 class="main-price font-weight-bold">000 000 F CFA</h2>
                        <div class="color-swatches clearfix">
                          <span>Couleur :</span>
                          <a href="#" class="swatch-violet"></a>
                          <a href="#" class="swatch-black"></a>
                          <a href="#" class="swatch-cream"></a>
                          <a href="#" class="swatch-yellow"></a>
                          <a href="#" class="swatch-red"></a>
                          <a href="#" class="swatch-green"></a>
                        </div>
        
                        <div class="row pick-size">
                            <div class="col-lg-6 col-md-8 col-sm-6" id="accordion" role="tablist" aria-multiselectable="false">
                                <p class="label small text-uppercase font-weight-bold" role="tab" id="headingOne">
                                  <span class="" data-toggle="collapse" data-parent="#accordion" href="#selectColor" aria-expanded="true" aria-controls="selectColor">
                                    Selectionner couleur 
                                  </span>
                                </p>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox1" value="option1"> Noir
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox2" value="option2"> Blanc
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox3" value="option3"> Rouge
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox4" value="option4"> Jaune
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox5" value="option5"> Bleu
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox6" value="option6"> Vert
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox7" value="option7"> Orange
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox8" value="option8"> Violet
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectColor" role="tabpanel" aria-labelledby="selectColor">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="couleur" id="inlineCheckbox9" value="option9"> Transparent
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8 col-sm-6" id="accordion" role="tablist" aria-multiselectable="false">
                              
                              <p class="label small text-uppercase font-weight-bold" role="tab" id="headingOne">
                                <span class="" data-toggle="collapse" data-parent="#accordion" href="#selectTaille" aria-expanded="true" aria-controls="selectTaille">
                                  Selectionner Tailles
                                </span>
                              </p>
                                <p class="label"></p>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectTaille" role="tabpanel" aria-labelledby="selectTaille">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="Taille" id="taillePr1" value="option1"> XS
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectTaille" role="tabpanel" aria-labelledby="selectTaille">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="Taille" id="taillePr2" value="option2"> S
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectTaille" role="tabpanel" aria-labelledby="selectTaille">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="Taille" id="taillePr3" value="option3"> M
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectTaille" role="tabpanel" aria-labelledby="selectTaille">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="Taille" id="taillePr4" value="option4"> L
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="form-check form-check-radio form-check-inline collapse" id="selectTaille" role="tabpanel" aria-labelledby="selectTaille">
                                  <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="Taille" id="taillePr5" value="option5"> XL
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                  </label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row justify-content-end">
                          <button class="btn btn-success btn-sm btn-round" type="button">
                            <i class="now-ui-icons shopping_cart-simple"></i> pannier
                          </button>
                        </div>
                        
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                          <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Description
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
        
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                              <div class="card-body">
                                <p>Eres' daring 'Grigri Fortune' swimsuit has the fit and coverage of a bikini in a one-piece silhouette. This fuchsia style is crafted from the label's sculpting peau douce fabric and has flattering cutouts through the torso and back. Wear yours with mirrored sunglasses on vacation.</p>
                              </div>
                            </div>
                          </div>
                        </div>
        
                    </div>
                </div>
            </div>
          </div>
        </div> <!-- end container -->
      </section>
      
      <app-footer></app-footer>
    </div>
</main>