<app-nav></app-nav>
<div class="wrapper">
    <div class="main pt-4 mt-4">
        <div class="content pt-4 mt-4">
            <div class="section section-contact-us text-center">
              <div class="container">
                <h2 class="title">Contactez-nous facilement</h2>
                <p class="description small">Sur notre projet METANOV, vous donner vos problemes ou vos suggestions  </p>
                <div class="row">
                  <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto card card-body border-raduis">
                    <div class="input-group input-lg mt-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Votre nom complet">
                    </div>
                    <div class="input-group input-lg mt-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons ui-1_email-85"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="votre email">
                    </div>
                    <div class="textarea-container input-group-prepend input-group input-lg mt-4">
                      <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Votre message"></textarea>
                    </div>
                    <div class="send-button mt-4">
                      <button class="btn btn-primary btn-round btn-block btn-sm">Envoyer message</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
            
    </div>
    <app-footer></app-footer>
</div>