<app-nav></app-nav>
<div class="wrapper">
      <div class="main mt-4">
        <div class="section mt-4">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-8 ml-auto mr-auto">
                  <div class="card card-profile">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-image">
                                  <a href="marques">
                                      <img class="img imgmarque" src="assets/images/shopss027.jpg" />
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-body">
                                <a href="marques" class="small text-dark text-uppercase">
                                  <i class="now-ui-icons location_bookmark"></i>&nbsp;Marques
                                </a>
                                <h5 class="card-title font-weight-bold text-dark text-uppercase">
                                  <a href="marques">Nom_Marques</a>
                                </h5>
                                <p class="small text-muted">
                                  Maintenez l'intérêt de vos marques en leur fournissant des 
                                  informations pertinentes.
                                </p>
                                <div class="card-footer">
                                  <div class="stats text-right">
                                    <i class="fa fa-heart"></i> 342 ·
                                    <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                                   </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-8 ml-auto mr-auto">
                  <div class="card card-profile">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-image">
                                  <a href="marques">
                                      <img class="img imgmarque" src="assets/images/shopss027.jpg" />
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-body">
                                <a href="marques" class="small text-dark text-uppercase">
                                  <i class="now-ui-icons location_bookmark"></i>&nbsp;Marques
                                </a>
                                <h5 class="card-title font-weight-bold text-dark text-uppercase">
                                  <a href="marques">Nom_Marques</a>
                                </h5>
                                <p class="small text-muted">
                                  Maintenez l'intérêt de vos marques en leur fournissant des 
                                  informations pertinentes.
                                </p>
                                <div class="card-footer">
                                  <div class="stats text-right">
                                    <i class="fa fa-heart"></i> 342 ·
                                    <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                                   </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-8 ml-auto mr-auto">
                  <div class="card card-profile">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-image">
                                  <a href="marques">
                                      <img class="img imgmarque" src="assets/images/shopss027.jpg" />
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-body">
                                <a href="marques" class="small text-dark text-uppercase">
                                  <i class="now-ui-icons location_bookmark"></i>&nbsp;Marques
                                </a>
                                <h5 class="card-title font-weight-bold text-dark text-uppercase">
                                  <a href="marques">Nom_Marques</a>
                                </h5>
                                <p class="small text-muted">
                                  Maintenez l'intérêt de vos marques en leur fournissant des 
                                  informations pertinentes.
                                </p>
                                <div class="card-footer">
                                  <div class="stats text-right">
                                    <i class="fa fa-heart"></i> 342 ·
                                    <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                                   </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-8 ml-auto mr-auto">
                  <div class="card card-profile">
                      <div class="row">
                          <div class="col-md-5">
                              <div class="card-image">
                                  <a href="marques">
                                      <img class="img imgmarque" src="assets/images/shopss027.jpg" />
                                  </a>
                              </div>
                          </div>
                          <div class="col-md-7">
                              <div class="card-body">
                                <a href="marques" class="small text-dark text-uppercase">
                                  <i class="now-ui-icons location_bookmark"></i>&nbsp;Marques
                                </a>
                                <h5 class="card-title font-weight-bold text-dark text-uppercase">
                                  <a href="marques">Nom_Marques</a>
                                </h5>
                                <p class="small text-muted">
                                  Maintenez l'intérêt de vos marques en leur fournissant des 
                                  informations pertinentes.
                                </p>
                                <div class="card-footer">
                                  <div class="stats text-right">
                                    <i class="fa fa-heart"></i> 342 ·
                                    <i class="now-ui-icons shopping_bag-16"></i>&nbsp;45342 
                                   </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <app-footer></app-footer>
</div>