<app-nav></app-nav>
<div class="wrapper">
    <div class="main pt-4 mt-4">
      <div class="content pt-4 mt-4">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
              <div class="card-header text-center">
                <h4 class="card-title">
                    <img class="logo-dark" src="assets/images/v_logos.png" style="height:60px;" alt="logo">
                </h4>
                  <p class="card-category small"> METANOV, vous remercie pour la confiance.</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <th> Descriptions Produits</th>
                      <th class="text-center">Nombre </th>
                      <th class="text-center">PU</th>
                      <th class="text-center">Total</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Nom_Produit</td>
                        <td class="text-center">16</td>
                        <td class="text-center">160 f</td>
                        <th class="text-center">2.560 f</th>
                      </tr>
                      <tr>
                        <td>Nom_Produit</td>
                        <td class="text-center">16</td>
                        <td class="text-center">160 f</td>
                        <th class="text-center">2.560 f</th>
                      </tr>
                      <tr>
                        <td>Nom_Produit</td>
                        <td class="text-center">16</td>
                        <td class="text-center">160 f</td>
                        <th class="text-center">2.560 f</th>
                      </tr>
                      <tr>
                        <td>Nom_Produit</td>
                        <td class="text-center">16</td>
                        <td class="text-center">160 f</td>
                        <th class="text-center">2.560 f</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td class="text-center">Totaux</td>
                        <td class="text-center">2.560 fcfa</td>
                      </tr>
                      <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center">
                          <a href="#" class="btn btn-round btn-sm btn-default disabled"><i class="now-ui-icons ui-1_check"></i> Valider</a>
                        </td>
                        <td class="text-center">
                          <a target="_blank" href="#" class="btn btn-round btn-sm btn-primary"> <i class="now-ui-icons ui-1_simple-remove"></i> Suprimer</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
</div>